@{
    ViewBag.Title = "Home Page";
}
<br />
<div>
    <p>帳號: <input type="text" id="MemberID" /></p>
</div>
<div>
    <input type="button" value="查詢" id="Search" />
</div>




@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {





        });
    </script>
}